#imageId img {
    /* width: 90%; */
    height: 40%;
    /* border-radius: 8px; */
}
img {
    /* vertical-align: middle; */
    /* border-style: none; */
    height: 40%;
}
.container{
    height: 300px
}
.navbar{
    display: flex;
    flex-direction: row;
}
.nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 15px;
}
#logo{
	width: 100px;
	height: 40px;
}
.mbr-black {
    color: black;
    
}
.mbr-bold{
    font-weight:600;
}
.display-5{
    font-size: 2rem;
}
.menu-logo, .navbar-brand{
    display: flex;
    margin-left: 1.5rem;
    padding: 0.5rem 0;
    -webkit-transition: padding 0.2s;
    transition: padding 0.2s;
    min-height: 3.8rem;
    -webkit-box-align: center;
    align-items: center;
    margin-right: auto;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.navbar-logo{
    padding-right: 15px;

}
.navbar-caption-wrap{
    font-family: 'Muli', sans-serif;
    font-size: 1.2rem; 
    font-weight: 500;
}
.navbar-collapse{
    /* -webkit-box-pack: end;
    justify-content: flex-end;
    padding-right: 4rem;
    width: 100%; */
}
.nav button {
    /* Resetting all default styles */
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: none; /* Removing the default focus outline */
}

.nav button.log{
    /* Your custom styles for the buttons */
    /* For example, you can add padding, margin, color, etc. */
    padding: 6px 10px;
    margin-right: 10px;
    color: black;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Muli', sans-serif;
    

}

/* Style for icons inside buttons */
.nav button i {
    margin-right: 5px; /* Adjust as needed */
}

.body{
    font-family: 'Muli', sans-serif;
}
.create_acc{
    letter-spacing: 0.5px;
    font-size: 13px;
    line-height: 13px;
    
}
.create_acc:hover {
    border: 2px solid blue; /* Blue outline */
    color: blue; /* Change text color to blue on hover */
    transition: border-color 0.3s, color 0.3s; /* Smooth transition */
    
}
.create_acc {
    border: 2px solid blue; /* Transparent border */
    background-color: blue; /* Transparent background */
    /* transition: border-color 0.3s, background-color 0.3s; Smooth transition */
    letter-spacing: 0.5px;
    font-size: 13px;
    line-height: 13px;
}

.create_acc:hover {
    border-color: blue; /* Blue border */
    background-color: blue; /* Blue background */
    color: rgb(109, 20, 20); /* Text color */
}
button.create_acc{
    padding: 10px;
    border-color: pink;
}

button create_acc{
    padding:0 10px;
    color:#000;
    border:1px solid;
   }
button.create_acc:hover {
    color:var(--h, yellow);
}