<section class="menu01 cid-rS4Rm4NvM4" once="menu" id="menu1-1m">

    <nav class="navbar navbar-dropdown beta-menu align-items-center navbar-fixed-top navbar-toggleable-sm navbar-short">
        <div >
            <div class="menu-logo">
                <div class="navbar-brand">
                    <span class="navbar-logo">
                        <a href="index.html">
                            <img src="../../../assets/img/logo.png" alt="Mobirise" title="" style="height: 3.8rem;">
                        </a>
                    </span>
                    <span class="navbar-caption-wrap"><a href="index.html" class="brand-link mbr-black mbr-bold display-5">
                            MedicalM4
                        </a></span>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent, #topLine" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <div class="hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </button>
            </div>
            
        </div>
        <div>
            <div class="nav">
                <label></label>
                <div class="switchs">
                 <button class="log" id="log" [routerLink]="['']"><i class="fa fa-home"></i> Home</button>
                 <button class="log" id="log" onclick="location.href='#services';"><i class="fa fa-cog"></i> Services</button>
                 <button class="log" id="log" [routerLink]="['/login']"><i class="fa fa-sign-in"></i> LOGIN</button>
                 <button class="create_acc" id="create_acc" [routerLink]="['/registration']"><i class="fa fa-user-plus"></i> CREATE ACCOUNT</button>
               </div>
             </div>
        </div>
    </nav>
</section>